V09_BipolarProto/logs/
V09_BipolarProto/settings_inversion.json
V09_BipolarProto/saved_inversions/
V09_BipolarProto/SMEARIII/

V091_BipolarProto/logs/
V091_BipolarProto/settings_inversion.json
V091_BipolarProto/saved_inversions/
V091_BipolarProto/SMEARIII/
